:host{
    #preheader{
        font-family: 'Lato', sans-serif;
        background: #FBFBFB;
        width: 100%;
        font-size: 14px;
        color: #42474c;
        font-weight: 300;
       
        fa{
            color: #4eaac8;
        }
    }
    

}