<div class="container pad-top-60 pad-bt-80" id="quienes">
  <div class="row">
      <div class="col-6">
          <h3 class="title-03 mar-bt-50">Quienes <span> Somos</span></h3>
          <p>Somos un equipo de profesionales psicólogos/as enfocados/as en la salud mental y bienestar de las personas. Consideramos
            a la persona como un ser biopsicosocial, que puede afrontar situaciones, etapas y problemática; un ser abierto y en
            constante movimiento y ciclos de aprendizaje. Podemos apoyar en un nuevo descubrimiento, una nueva vivencia de la persona
            en pos de su felicidad.</p>
        </div>
        <div class="col-6">
          <h3 class="title-03 mar-bt-50">Qué <span>hacemos</span></h3>
          <p>Brindamos atención a personas de todo tipo de edades que presente algún tipo de malestar o problemática que necesite
            diagnóstico, tratamiento u orientación psicológica. Procuramos que la persona se sienta segura y cómoda, mediante un
            trato profesional y a la vez cercano, en un espacio accesible y acogedor. </p>
          <p>Ofrecemos apoyo psicológico a niños, niñas, adolescentes y adultos mediante evaluaciones, terapias y asesorías individuales
            de pareja y grupales.
          </p>
        </div>
  </div>
</div>