<header>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-md-4 col-lg-4 text-xs-center logo">
        <img src="./assets/logo.png" alt="">
      </div>
      <div class="col-sm-8 col-md-8 col-lg-8 text-xs-center text-sm-right info d-sm-flex align-items-sm-center justify-content-sm-end">
        <p class="phone-info">
          <span>Llámanos:</span> 22 32247948</p>
        <a class="btn-app" href="https://www.doctoralia.cl/centro-medico/centro+atencion+integral+plaza+de+armas-2549159" target="_blank">Reserva tu hora</a>
      </div>
    </div>
  </div>
</header>

