<section class="container pad-bt-40">
    <div class="col-lg-12">
      <div class="page-title-wrapp">
        <h2 class="page-title-01">Información General</h2>
      </div>

      <div id="aranceles">
          <h3>Aranceles</h3>
          <ul class="list-01">
            <li>Terapia individual adultos:</li>
            <li>Terapia individual niños y adolescentes:</li>
            <li>Terapia pareja:</li>
          </ul>

          <p>Nuestros servicios de terapia y diagnóstico psicológico están sujetos a la cobertura entregada por los siguientes sistemas de salud:</p>

          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h4>Isapre</h4>
                </mat-panel-title>
          
              </mat-expansion-panel-header>
              <p>Todos nuestras boletas pueden ser reembolsadas a través de su sistema Isapre. El monto reembolsado dependerá de la cobertura
                en atención psicológica comprendida en su plan de salud. Recomendamos solicitar los detalles y cobertura en su Isapre
                sobre su plan y condiciones de salud para sacar el máximo provecho a este beneficio.</p>
          
              <h5>Forma de reembolsar boletas:</h5>
              <ol>
                <li>En las oficinas de su Isapre, puede asistir con sus boletas para ser reembolsadas directamente en efectivo.</li>
                <li>Reembolso vía internet: algunas Isapres ofrecen la posibilidad de reembolsar sus boletas ingresando en su página web
                  con su usuario y contraseña.</li>
              </ol>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h4>Fonasa</h4>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>Para esta modalidad de atención trabajamos con el sistema de programas médicos. El programa médico es un documento que
                le será entregado por su psicólogo(a) en la primera sesión, con el cual podrá realizar la compra del bono de atención
                en las oficinas de Fonasa.</p>
              <p>(En proceso de trámite y validación)</p>
          
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h4>Seguro complementario de salud</h4>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p> Si cuenta con esta cobertura, puede asistir con los formularios del seguro para ser completados por su psicólogo y de
                esta manera hacer uso de este beneficio.
              </p>
            </mat-expansion-panel>
          
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h4>Convenios</h4>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>Consultar por convenios colegios, entidades y empresas.
              </p>
            </mat-expansion-panel>
          
          </mat-accordion>

      </div>
    </div>
  </section>
  <section class="content-box-02 pad-top-75 pad-bt-40">
    <div class="container">
      <div class="col-lg-12">
        <p class="subtitle-02">FAQ</p>
        <h3 class="title-02 title-02--mr-01">Preguntas
          <span>Frecuentes</span>
        </h3>
      </div>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h4>¿Por qué consultar o ir al psicólogo?</h4>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Las razones para asistir al psicólogo son variadas y dependen también de la edad del paciente, muchas personas deciden
            consultar al verse afectadas por situaciones u etapas tales como una ruptura de pareja, el fallecimiento de un ser
            querido, situaciones de estrés en el trabajo o frente a los estudios, o sentirse vulnerables o deprimidos, solo por
            mencionar algunos. </p>
          <p>Estas situaciones o etapas pueden provocar en niños como adolescentes y adultos, signos, síntomas o conductas desadaptativas
            tales como ansiedad, insomnio, inseguridad, disminución o aumento brusco del apetito, baja o aumento de peso, problemas
            de concentración, problemas de memoria, llanto, baja motivación, aislamiento social, impulsividad, agresividad, confusión,
            disfunción sexual, cambios de ánimo, entre otros.</p>
        </mat-expansion-panel>
      
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h4>¿Qué es la psicoterapia o terapia psicológica?</h4>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Es un proceso destinado a lograr en los pacientes un mayor manejo, nivel de bienestar, adaptación y asertividad sobre el propio funcionamiento y conducta considerando a la persona como un ser humano dependiente de los procesos y cambios biológicos, sociales y psicológicos. Así, les ayudamos a desarrollar un cambio que les ayude a su bienestar.</p>
          <p>En este proceso, nuestros psicólogos ofrecen un espacio cálido y con una atención personalizada de trabajo al paciente, acompañándolo y participando en su crecimiento y desarrollo, formando una relación terapéutica basada en el respeto, comunicación, confianza, etc. brindando herramientas y orientación para el logro de objetivos, metas y bienestar en todo ámbito. </p>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h4>¿Qué necesito para asistir a psicoterapia o acudir a algún psicólogo?</h4>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Solamente necesitas tomar la decisión, la motivación y el compromiso con un proceso de autoconocimiento y cambio, el compromiso y las ganas del paciente por el cambio es una variable fundamental para lograr mejores resultados y en menor tiempo.</p>

          </mat-expansion-panel>

          <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h4>¿Cuáles son las problemáticas más comunes?</h4>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>Angustia. Hiperactividad - Déficit Atención. Inseguridad / baja autoestima. Ansiedad, Estrés. Bullying. Dependencia emocional. Depresión. Anorexia, Bulimia y Obesidad. Enfermedades psicosomáticas. Dificultades en el estudio, Técnicas de estudio. Dificultades del Aprendizaje. Disfunciones sexuales. Duelos y pérdidas. Educación de padres, Orientación Profesional. Estrés Postraumático. Fobias. Miedo a Hablar en Público, Timidez.</p>

              <p>Mobbing (Acoso laboral). Neurosis obsesiva. Orientación e Identidad sexual. Crisis de Pánico. Problemas de la Memoria. Relaciones sociales. Relación de pareja. Trastorno Bipolar. Trastornos de la Personalidad. Trastornos Obsesivos Compulsivos. Desarrollo Personal. Trastornos del sueño - Insomnio.</p>
  
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <h4>¿Cómo ayudar a un adolescente?, ¿Cómo saber si necesita terapia u orientación psicológica?</h4>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p>El adolescente en su proceso de transición y cambio necesita el apoyo y contención por parte del adulto, siempre es necesario el diálogo y la mediación de tiempos y espacios, con el fin de incentivar este proceso de la mejor manera posible. El adolescente tiene gran importancia por el aspecto social el cual es predominante, por lo que le es necesario siempre su propio espacio y ayudar a propiciar relaciones cercanas con sus pares. También es necesario además de la escucha activa el dejarlo participar, haciéndole saber que su opinión es importante. Los aspectos comunicacionales y de contención en esta etapa resultan fundamentales para el desarrollo de su personalidad y autoestima.</p>
  
                <p>El adolescente necesita atención y/o ayuda por parte de un profesional cuando manifiesta problemas conductuales o deterioro en sus habilidades o capacidades cognitivas o sociales, presentando una dificultad en su desarrollo normal, con los cuales puede manifestar síntomas o signos de inseguridad, ansiedad, problemas de rendimiento escolar, problemas con los padres o con los pares o amigos en su capacidad de sociabilización o en cualquier conducta que ponga en riesgo su salud. </p>
    
              </mat-expansion-panel>

              <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <h4>¿Qué se necesita para asistir a una terapia de pareja?</h4>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <p>Uno de los aspectos fundamentales en este tipo de terapia es que ambos estén dispuestos al dialogo y al cambio. Esto implica una comunicación fluida, por lo que es importante la motivación de la pareja por lograr una mejor relación. Es importante recordar que al componer una pareja, la relación es responsabilidad de ambos integrantes.</p>
    
                  <p>Si hay problemas en la relación de pareja y  solo uno de los integrantes tiene motivación e impulsa el trabajo en terapia, lo más recomendable es asistir a una terapia psicológica de manera  individual.</p>
      
                </mat-expansion-panel>
      
      </mat-accordion>
    </div>

  </section>