.owl-treatments {
    text-align: center;

    .owl-treatments__img {
        border-radius: 5px;
        overflow: hidden;
        margin-bottom: 19px;

        a {
            display: inline-block;
            vertical-align: middle;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(4, 18, 29, 0);
                visibility: collapse;
                -webkit-transition: 0.5s all;
                transition: 0.5s all;
            }
        }
    }

    .owl-treatments__title {
        font-size: 24px;
        line-height: 26px;
        color: #42474c;
        margin: 0 0 19px;
        min-height: 55px;
        a{
            color: #42474c;

            &:hover{
                color: #4eaac8;
                text-decoration: none;
            }
        }

        .owl-treatments__text {
            margin-bottom: 16px;
        }
    }

    .owl-treatments__btn {
        font-size: 12px;
        line-height: 14px;
        font-weight: 700;
        color: #4eaac8;
        text-transform: uppercase;
        display: inline-block;
        vertical-align: middle;
    }
    &::after {
        font-family: 'FontAwesome';
        content: '\f105';
        display: inline-block;
        vertical-align: middle;
        color: #4eaac8;
        font-weight: 400;
        margin-left: 10px;
        margin-bottom: 2px;
        -webkit-transition: 0.5s all;
        transition: 0.5s all;
    }
}